#root {
  height: 100%;
  width: 100%;
  background-color: rgba(59, 167, 27, 0.728);
  font-family: ui-sans-serif, system-ui, sans-serif;
  display: flex; /* flex helps place sidebar + content */
}

/* wrapper for main content */
.main-content {
  margin-left: 340px; /* same as sidebar width */
  padding: 20px;
  flex: 1;
  background-color: rgba(75, 222, 75, 0.728);
  min-height: 100vh;
}
