.Hello{
    max-width:100%;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    border-radius: 1rem;
    background-image: url("assets/Gemini_Generated_Image_u3if5nu3if5nu3if.png");
    margin:1rem;
    color:white;
    padding:20px;
}

#intro{
    margin:1rem;
}
#farms{
    display:flex;
    flex-direction: column;
    align-items: end;
    margin:1rem;
}